<!DOCTYPE html>
<html lang='en'>

<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="content text-left">
          <h4>My tasks</h4>

            <% @tasks.each do |task| %>
            <p>
              <% check = '<i class="fa fa-check-circle" aria-hidden="true"></i>'.html_safe %>
              <% uncheck = '<i class="fa fa-circle-o" aria-hidden="true"></i>'.html_safe %>
              <%= task.done? ? check : uncheck %>
              <%= link_to task.name.capitalize, task_path(task) %>
              <%= task.due %>
            </p>
            <% end %>


        </div>
      </div>
    </div>
  </div>
</div>


</html>
